body{
  height: 100%;
    /* background-image: linear-gradient(to right, blue, purple, blue);
     */
     background-color: #aec6cf


}

.demo{
  font-family: fantasy;
  font-size: 20px;
  color: black;
}
.score {
    background:orange;
    padding: 0 48px;
    line-height: 1;
    border-radius: 16px;
    color: #fff;
    margin-left: 15px;
}

.game {
    width: 600px;
    height: 400px;
    display:flex;
    flex-wrap:wrap;
    margin: 0 auto;

}

.hole{
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
    /* align-items: center; */
}

.hole:after{
    display:block;
    background: url(basket.png) bottom center no-repeat;
    background-size:contain;
    content: '';
    width: 100%;
    height: 90px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
}

.mole {
    background: url('orange.png') bottom center no-repeat;
    background-size: 80%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}

.hole.up .mole{
    top:0;
}

button{
  height: 3rem;
  width: 10rem;
  background-color: orange;

border: none;
color: white;
/* padding: 20px; */
/* text-align: center; */
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 20px;
margin: 4px 2px;
}

@media (min-width: 667px) and (max-width: 1024px){

    h1 {
        display: none;
    }
    .score {
    background:blue;
    padding: 0 12px;
    line-height: 1;
    border-radius: 16px;
    color: #fff;
    font-size: 40px;
    margin-left: 20px;
}

    .hole.up .mole{
        top:17px;
    }
}

@media (max-width: 667px){

    .game {
        width: 667px;
        height: 300px;
        display:flex;
        flex-wrap:wrap;
        margin: 0 auto;
    }

    .score{
        width:35px;
        font-size: 15px;
        height: 40px;
        color: #fff;
        background-color: blue;
        border-radius: 10px;
        margin-left: 10px;
        margin-top: 10px;
        padding: 5px;
        }

        button{
            margin: 10px 10px 10px 10px;
            height: 40px;
            width: 75px;
            font-size: 15px;
        }

    .hole:after{
        display:block;
        background: url(basket.png) bottom center no-repeat;
        background-size:contain;
        content: '';
        max-width: 70%;
        height: 60px;
        position: absolute;
        z-index: 2;
        bottom: -30px;
    }

    .mole {
        background: url('orange.png') bottom center no-repeat;
        background-size: 60%;
        position: absolute;
        top: 100%;
        max-width: 70%;
        height: 70%;
        transition: all 0.4s;
    }

    .hole.up .mole{
        top:50px;
    }
}

.ptext{
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  color: purple;
}

.namefield{
  height: 2rem
}
